<h1>Links#index</h1>

<table>
  <tbody>
    <% @links.each do |link| %>
    <tr>
      <td>
        <%= link_to "#{link.name}",link_path(id: link.id) %>
      </td>
    </tr>
  
    <% end %>
  </tbody>
</table>

<%= link_to "sign up", new_user_path %>

<%= link_to "log in", new_session_path %>
